/* Converse Challenge CSS */
.conversebody {
	border: 5px black solid;
	font-family: sans-serif;
	line-height: 1.4;
}

/* This is the title of the shoe with the grey background */
.shoename {
	color: black;
	background-color: rgb(227, 223, 223);
	text-align: center;
	text-transform: uppercase;
}

/* shoe information */
.price {
	font-size: 25px;
}

.shipping {
	font-size: 12px;
	font-weight: bolder;
	text-transform: uppercase;
	color: rgb(105, 104, 104);
}

/* specify links in this order link visited hover active */
.moreinfo:link,
.moreinfo:visited {
	color: black;
}

.moreinfo:hover,
.moreinfo:active {
	text-decoration: none;
}

/* shoe details */
.detailstitle {
	text-transform: uppercase;
	font-size: 18px;
}

.detailslist {
	list-style: square;
}

/* button */
.convbutt {
	background-color: black;
	border: none;
	color: #fff;
	font-size: 21px;
	text-transform: uppercase;
	cursor: pointer;
}

.convbutt:hover {
	color: black;
	background-color: white;
}
