/* universal  selector   - this selector has the lowest priority */
* {
	background-color: #ffc0cbbd;
	margin: 0;
	padding: 0;
	background-color: #0a1822;
	/* we want the margin to be applied to every single element using the universal selector */
	box-sizing: border-box;
}

/* CURSOR */
html {
	cursor: url("/img/pinkregularcursor.png"), pointer;
}

/* page section */
/* body is the parent element */
body {
	color: #444;
	font-family: sans-serif;
	border: 5px magenta solid;
	/* border property does not get inhereted */
	position: relative;
}

.container {
	width: 1400px;
	/* margin-left: auto;
	margin-right: auto; 
	all these are replaced with margin 0 auto */
	margin: 0 auto;
}
/* any  elements in container div can only be as wide as the container div */
/* to center the items on the page use margins with auto */

nav {
	font-size: 20px;
	text-align: center;
	/* text is centered in the parent container */
}
/* Notes on margin and padding: Whenever you need some space inside an element (useful with backgrou d color or border on the elemnt use padding*/
/* Notes on margin and padding: Whenever you need to create space outside an element or also to c reate space between multiple elements use amrgins and if you need verticle space use margins as well*/
article {
	margin-bottom: 60px;
}
/*here will will specify background color as well as the space(padding) of the header*/
.main-header {
	background-color: #0a1822;
	padding: 20px 40px;
	margin-bottom: 60px;
	height: 80px;
}
/* it is very common to use space at the bottom to create verticle space - margin bottom is my fav :D */

/* smaller elements */
/*this selector will change all H to the same color instead of pasting the color into each snippet of code*/
h1,
h2,
h3 {
	color: #8b44a4;
}
h1 {
	font-size: 26px;
	/* all the font-family: sans-serif; have been moved to the top and grouped together to clean up the code  :D*/
	text-transform: uppercase;
	font-style: italic;
	/*Here we specify the color of h1*/
}

h2 {
	font-size: 40px;
	/* all the font-family: sans-serif; have been moved to the top and grouped together to clean up the code */
	margin-bottom: 30px;
}

h3 {
	font-size: 30px;
	/* all the font-family: sans-serif; have been moved to the top and grouped together to clean up the code  :D*/
	margin-bottom: 20px;
	margin-top: 40px;
}
/* Collapsing margins - when we have 2 margins occupying the same space, only one of them is visible on the page */

h4 {
	font-size: 20px;
	/* all the font-family: sans-serif; have been moved to the top and grouped together to clean up the code  :D*/
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

p {
	font-size: 22px;
	/* all the font-family: sans-serif; have been moved to the top and grouped together to clean up the code  :D*/
	line-height: 1.5;
	margin-bottom: 20px;
	color: pink;
}

ul,
ol {
	margin-left: 50px;
	margin-bottom: 50px;
}
li {
	/* all the font-family: sans-serif; have been moved to the top and grouped together to clean up the code  :D*/
	font-size: 20px;
	margin-bottom: 10px;
	/* display: inline; */
}

/* this will make it so the last line item will have no space */
li:last-child {
	margin-bottom: 0;
}

/* You can only use an ID once*/
#copywrite {
	font-size: 16px;
	background-color: mediumvioletred;
	/* footer p {
	this descendent selector: all the p elements inside the fotter
	font-size: 16px;
} */
}

#author {
	font-style: italic;
	font-size: 20px;
	/* This was the Nested descendant selector that we replaced with #author ID but we dont need it anymore now that we are using Id to streamline the code: 
	article header p {
	font-style: italic;*/
}

#relatedpostheading {
	font-size: 27px;
	background-color: rgb(32, 4, 32);
	color: pink;
}

/*Now we are using classes*/
.related-author {
	font-size: 18px;
	font-weight: bold;
}

.related {
	list-style: none;
	margin-left: 0;
}
.post-header {
	margin-bottom: 40px;
}

/*aside is a short hand property*/
aside {
	width: 500px;
	float: right;
	background-color: #d8d3dc;
	border-top: 5pt solid #8b44a4;
	border-bottom: 5pt solid #8b44a4;
	background-color: rgb(233, 194, 226);
	padding: 50px 40px;
}

/*.first-list {
	font-weight: bold;
}
we will use a pseudo class to dchange the font to bold
*/

li:first-child {
	font-weight: bold;
}

li:last-child {
	font-style: italic;
}

/* This code right here will make every other li ne green frnt 
li:nth-child(even) {
	color: green;
} */

/* Misconseption, this code wont work */
article p:first-child {
	color: red;
}

/* We will now be styling the hyperlinks using psuedo- this will only target elements that have an href attribute */
a:link {
	color: mediumvioletred;
	text-decoration: none; /* text will not be underlined on links */
}

a:visited {
	color: palevioletred;
}

/* we will change what links look like when you hover with the  mouse */
a:hover {
	color: #8b44a4;
	font-weight: bolder;
	text-decoration: underline;
}

a:active {
	background-color: black;
	font-style: italic;
}
/* It always goes in this order LVHA link >visited >hover >active */

/* ID Selector then class then element selector then universal selector order of resolving conflicting declarations */
/* Resolving conflicts now */
/*#copywrite {
	color: red;
}

.copywrite {
	color: blue;
}

.text {
	color: yellow;
}

footer p {
	color: green !important;
}
/* !important is a hack that you should not use */
/* Id has the highest priority - hover over selectore to look at selector  specificty to get  an idea of which will come first */

.pinkcode {
	width: 100%;
	height: auto;
}
/* The width measurement the perccentagevof the width of the parent container which here is the "Basic Lang of the web" heading  */

nav a:link {
	margin-right: 50px;
	margin-top: 10px;
	display: inline-block;
	/*background-color: orangered ;
	margin: 20px;
	padding: 20px;
	display: block; */
}

nav a:link:last-child {
	margin-right: 0;
}

button {
	font-size: 23px;
	cursor: pointer;
	padding: 20px;
	color: #450737;
	background-color: #dc7ec0;
	border: solid #9c85ac 6px;
	position: absolute;
	bottom: 50px;
	right: 50px;
	/* positioning is relative to the veiwport */
}

.crop {
	width: 100%;
	height: 255px;
	overflow: hidden;
}

.crop img {
	width: 900px;
	height: 300px;
	margin-top: -75px;
}
/* Pseudo  classes  are writen with 1 colon, pseudo elements 2 colons */
h1::first-letter {
	font-style: normal;
	margin-right: 5px;
}

/* only paragraphs after h3
		h3+p::first-line {
			color: red;
		} */

h2 {
	position: relative;
}
h2::after {
	font-size: 13px;
	color: magenta;
	content: "HOT";
	background-color: black;
	font-weight: bold;
	display: inline-block;
	padding: 6px 6px;
	position: absolute;
	top: -10;
	right: -25;
}

/* FLOATS */
.blondebomshell {
	float: left;
	margin-bottom: 20px;
}

.author {
	float: left;
	margin-top: 10px;
	margin-left: 20px;
}

h1 {
	float: left;
}

nav {
	float: right;
}

/* .clear fix hack  will create a brand new element that will be the 
LAST child of the container */
.clearfix::after {
	clear: both;
	 content: '';
	 display: block;
}
/* clearing floats only work on block elements  */


article {
	width: 780px;
	float: left ;
}



footer {
clear: both;
}