h1,
h2,
h3,
h4,
p,
li {
	font-family: sans-serif;
}

h1 {
	font-size: 26px;
	/* all the font-family: sans-serif; have been moved to the top and grouped together to clean up the code  :D*/
	text-transform: uppercase;
	font-style: italic;
}

h2 {
	font-size: 40px;
	/* all the font-family: sans-serif; have been moved to the top and grouped together to clean up the code */
}

h3 {
	font-size: 30px;
	/* all the font-family: sans-serif; have been moved to the top and grouped together to clean up the code  :D*/
}

h4 {
	font-size: 20px;
	/* all the font-family: sans-serif; have been moved to the top and grouped together to clean up the code  :D*/
	text-transform: uppercase;
	text-align: center;
}

p {
	font-size: 22px;
	/* all the font-family: sans-serif; have been moved to the top and grouped together to clean up the code  :D*/
	line-height: 1.5;
}

li {
	/* all the font-family: sans-serif; have been moved to the top and grouped together to clean up the code  :D*/
	font-size: 20px;
}

/* You can only use an ID once*/
#copywrite{
	font-size: 16px;
/* footer p {
	this descendent selector: all the p elements inside the fotter
	font-size: 16px;
} */	
}



}
#author {
	font-style: italic;
	font-size: 10px;
	/* This was the Nested descendant selector that we replaced with #author ID but we dont need it anymore now that we are using Id to streamline the code: 
	article header p {
	font-style: italic;*/
}

/*Now we are using classes*/
.related-author {
	font-size: 18px;
	font-weight: bold;
}